.fade-in-out {
    animation: fadeInOut 3s linear infinite;
  }
  
  @keyframes fadeInOut {
    0%, 100% {
      opacity: 1;
    }
    33.3%, 66.6% {
      opacity: 0.5;
    }
    50% {
      opacity: 0;
    }
  }