/*
Actividad: Presentación Personal – Estilos CSS
*/
/*
En esta actividad incorporaremos algunos estilos a la página que hemos creado, con el motivo de 
practicar lo aprendido sobre CSS.
En el Anexo CSS (material disponible en el aula virtual) encontraras diferentes formas de utilizar las 
propiedades que utilizaremos en la actividad para así, sacarle más provecho.
1) Abre tu IDE y crea un nuevo archivo (en la actividad 1 se explica cómo). Pero esta vez, con 
la extensión “css” en lugar de “html”. Puedes nombrarlo cómo prefieras. Te 
recomendamos algunos nombres: “estilos.css”, “style.css”.
2) Agrega una declaración CSS con selector universal (estas aplican a todo el documento).
Dentro de esta declaración especificaremos el valor de las siguientes propiedades:
a. background-color: (elige el color que prefieras).
b. font-family: (elige la fuente que prefieras).
3) Agregaremos una declaración CSS con selector de etiqueta, para todas las etiquetas H1 (o 
el encabezado de mayor relevancia que posea tu documento HTML). En esta declaración 
te pediremos que especifiques los valores para las siguientes propiedades:
a. font-size: (elige el tamaño que prefieras. Recomendamos usar px).
b. color: (elige el color que prefieras).
*/

body {
    background-color: rgb(230, 154, 54);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 50px;
    color: red;
}