<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear Nuevo Libro</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Biblioteca Digital</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                <li class="nav-item dropdown">
                    <div class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">
                        Autores
                    </div>
                    <div class="dropdown-menu" aria-labelledby="autoresDropdown">
                        <a class="dropdown-item" href="/autor/registrar">- Crear Autor</a>
                        <a class="dropdown-item" href="/autor/lista">- Lista de Autores</a>
                    </div>
                </li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="librosDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Libros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="librosDropdown">
                        <a class="dropdown-item" href="/libro/registrar">- Crear Libro</a>
                        <a class="dropdown-item" href="/libro/lista">- Lista de Libros</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="editorialesDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Editoriales
                    </a>
                    <div class="dropdown-menu" aria-labelledby="editorialesDropdown">
                        <a class="dropdown-item" href="/editorial/registrar">- Crear Editorial</a>
                        <a class="dropdown-item" href="/editorial/lista">- Lista de Editoriales</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Modificar Libro</h2>
        <form method="POST" action="/libro/modificar">
            <input type="hidden" name="isbn" th:value="${libro.isbn}" />
            <div class="form-group">
                <label for="titulo">Título:</label>
                <input type="text" class="form-control" id="titulo" name="titulo" th:value="${libro.titulo}" required />
            </div>
            <div class="form-group">
                <label for="autor">Autor:</label>
                <select class="form-control" id="idAutor" name="idAutor">
                    <option th:each="autor : ${autores}" th:value="${autor.idautor}" th:text="${autor.nombre}"
                        th:selected="${autor.idautor == libro.autor.idautor}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="editorial">Editorial:</label>
                <select class="form-control" id="idEditorial" name="idEditorial">
                    <option th:each="editorial : ${editoriales}" th:value="${editorial.ideditorial}"
                        th:text="${editorial.nombre}" th:selected="${editorial.ideditorial == libro.editorial.ideditorial}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="ejemplares">Ejemplares:</label>
                <input type="number" class="form-control" id="ejemplares" name="ejemplares" th:value="${libro.ejemplares}" required />
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
            <a class="btn btn-primary" href="/">Volver al Inicio</a>
        </form>  
        <div th:if="${error != null}" class="card text-white bg-danger mb-3 mensajeError">
            <div class="card-body">
                <h5 class="card-title">Error 👎</h5>
                <p class="card-text" th:text="${error}"></p>
            </div>
        </div>
        <div th:if="${exito != null}" class="card text-white bg-success mb-3 mt-3 mensajeExito">
            <div class="card-body">
                <h5 class="card-title">Exito!</h5>
                <p class="card-text" th:text="${exito}"></p>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>

</html>