

/* Estilos para los enlaces generados dinámicamente */
.custom-collapse .nav-link {
  color: #000000; 
  padding: 8px 16px; 
  text-decoration: none; 
  transition: color 0.3s ease; 
}

.custom-collapse .nav-link:hover {
  color: #007bff; 
}

/* Estilos para el botón de cambio de idioma */
.language-button button {
  background-color: #007bff; 
  color: #fff; 
  padding: 8px 16px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  border-radius: 10px;
}

.language-button button:hover {
  background-color: #0056b3;
}

.nombre-estilo {
  font-size: 24px;
  color: #FF0000;
  font-family: Arial, sans-serif; 
}

.nombre-container {
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
}

