/* Certificados.css (por ejemplo) */

#educacion {
    background-color: #f8f8f8;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    text-align: center;
  }
  
  #educacion h3 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .carousel {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .carousel .carousel-item img {
    border-radius: 8px;
    max-width: 100%; 
    height: auto;
  }
  
  .carousel-indicators {
    bottom: 10px;
  }
  