/* Footer.css */

footer {
  background-color: #333; /* Color de fondo del Footer */
  color: #fff; /* Color del texto */
  padding: 2px;
  text-align: center;
  display: flex;
  border-radius: 15px;
}