<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
    <a class="navbar-brand" href="/">Egg Noticias</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="noticiaDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Noticias
                </a>
                <div class="dropdown-menu" aria-labelledby="noticiaDropdown">
                    <a class="dropdown-item" href="/noticia/lista">Lista de Noticias</a>
                    <a class="dropdown-item" href="/noticia/crear">Crear Noticias</a>
                    <a class="dropdown-item" href="/editarNoticia">Editar Noticias</a>
                </div>
            </li>

            <!-- Opción "Iniciar" -->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="usuariosDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Usuarios
                </a>
                <div class="dropdown-menu"><a class="dropdown-item" href="/perfil">Perfil</a>
                    <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                </div>

            </li>
        </ul>
    </div>
</nav>