.battle-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%; /* Ancho del contenedor principal */
  margin: 0 auto; /* Centrar el contenedor en la página */
}

.Pokemon1,
.Pokemon2{
  flex: 1;
  text-align: center;
}

.Pokemon3{
}

.ComandosBatalla {
  flex: 1;
  text-align: center;
}
