<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>EggNews - Noticias Recientes</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div th:replace="fragments/navbar :: navbar"></div>
    <div class="container mt-4">
        <h1 class="mb-4">Noticias EggNews</h1>

        <form method="get" action="/editarNoticia" class="mb-4">
            <div class="form-group">
                <label for="id">Editar Noticia por ID:</label>
                <input type="number" class="form-control" id="id" name="id" placeholder="ID de la noticia" required>
            </div>
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}">ID No Existente</p>
            </div>
            <button id="editarNoticia" type="submit" class="btn btn-success">Editar Noticia</button>
        </form>

        <div class="form-group mt-3">
            <label for="noticiaId">Eliminar Noticia por ID:</label>
            <input type="number" class="form-control" id="noticiaId" name="noticiaId" placeholder="ID de la noticia" required>
            <br>
            <a href="#" id="eliminarNoticia" class="btn btn-danger">Eliminar Noticia</a>
        </div>
        <hr>

        <!-- Noticias existentes -->
        <a href="/" class="btn btn-primary mt-3">Volver al Inicio</a>
        <div class="card mt-4" th:each="noticia : ${noticias}">
            <div class="card-body">
                <h6 class="card-id">ID: <span th:text="${noticia.id}"></span></h6>
                <h5 class="card-title" th:text="${noticia.titulo}"></h5>
                <p class="card-text" th:text="${noticia.cuerpo}"></p>
            </div>
        </div>
    </div>

    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
